/* barlow-regular - latin-ext_latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('barlow/barlow-v5-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Barlow Regular'), local('Barlow-Regular'),
       url('barlow/barlow-v5-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('barlow/barlow-v5-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('barlow/barlow-v5-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('barlow/barlow-v5-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('barlow/barlow-v5-latin-ext_latin-regular.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-700 - latin-ext_latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('barlow/barlow-v5-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Barlow Bold'), local('Barlow-Bold'),
       url('barlow/barlow-v5-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('barlow/barlow-v5-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('barlow/barlow-v5-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('barlow/barlow-v5-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('barlow/barlow-v5-latin-ext_latin-700.svg#Barlow') format('svg'); /* Legacy iOS */
}

/* bitter-300 - latin-ext_latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 300;
  src: url('bitter/bitter-v16-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('bitter/bitter-v16-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('bitter/bitter-v16-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('bitter/bitter-v16-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
       url('bitter/bitter-v16-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('bitter/bitter-v16-latin-ext_latin-300.svg#Bitter') format('svg'); /* Legacy iOS */
}
/* bitter-800 - latin-ext_latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 800;
  src: url('bitter/bitter-v16-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('bitter/bitter-v16-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('bitter/bitter-v16-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('bitter/bitter-v16-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
       url('bitter/bitter-v16-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('bitter/bitter-v16-latin-ext_latin-800.svg#Bitter') format('svg'); /* Legacy iOS */
}

/* inconsolata-regular - latin-ext_latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('inconsolata/inconsolata-v20-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('inconsolata/inconsolata-v20-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('inconsolata/inconsolata-v20-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('inconsolata/inconsolata-v20-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('inconsolata/inconsolata-v20-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('inconsolata/inconsolata-v20-latin-ext_latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}
/* inconsolata-900 - latin-ext_latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 900;
  src: url('inconsolata/inconsolata-v20-latin-ext_latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('inconsolata/inconsolata-v20-latin-ext_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('inconsolata/inconsolata-v20-latin-ext_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('inconsolata/inconsolata-v20-latin-ext_latin-900.woff') format('woff'), /* Modern Browsers */
       url('inconsolata/inconsolata-v20-latin-ext_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('inconsolata/inconsolata-v20-latin-ext_latin-900.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* poppins-300 - latin-ext_latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('poppins/poppins-v13-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Poppins Light'), local('Poppins-Light'),
       url('poppins/poppins-v13-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('poppins/poppins-v13-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('poppins/poppins-v13-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
       url('poppins/poppins-v13-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('poppins/poppins-v13-latin-ext_latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin-ext_latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('poppins/poppins-v13-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('poppins/poppins-v13-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('poppins/poppins-v13-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('poppins/poppins-v13-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('poppins/poppins-v13-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('poppins/poppins-v13-latin-ext_latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800 - latin-ext_latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('poppins/poppins-v13-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
  src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
       url('poppins/poppins-v13-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('poppins/poppins-v13-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('poppins/poppins-v13-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
       url('poppins/poppins-v13-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('poppins/poppins-v13-latin-ext_latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* oswald-regular - latin-ext_latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('oswald/oswald-v35-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('oswald/oswald-v35-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('oswald/oswald-v35-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('oswald/oswald-v35-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('oswald/oswald-v35-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('oswald/oswald-v35-latin-ext_latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-700 - latin-ext_latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url('oswald/oswald-v35-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('oswald/oswald-v35-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('oswald/oswald-v35-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('oswald/oswald-v35-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('oswald/oswald-v35-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('oswald/oswald-v35-latin-ext_latin-700.svg#Oswald') format('svg'); /* Legacy iOS */
}

/* roboto-condensed-regular - latin-ext_latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('roboto-condensed/roboto-condensed-v19-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('roboto-condensed/roboto-condensed-v19-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('roboto-condensed/roboto-condensed-v19-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('roboto-condensed/roboto-condensed-v19-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('roboto-condensed/roboto-condensed-v19-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('roboto-condensed/roboto-condensed-v19-latin-ext_latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}
/* roboto-condensed-700 - latin-ext_latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('roboto-condensed/roboto-condensed-v19-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
       url('roboto-condensed/roboto-condensed-v19-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('roboto-condensed/roboto-condensed-v19-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('roboto-condensed/roboto-condensed-v19-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('roboto-condensed/roboto-condensed-v19-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('roboto-condensed/roboto-condensed-v19-latin-ext_latin-700.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}
/* teko-500 - latin-ext_latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 500;
  src: url('teko/teko-v10-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Teko Medium'), local('Teko-Medium'),
       url('teko/teko-v10-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('teko/teko-v10-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('teko/teko-v10-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
       url('teko/teko-v10-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('teko/teko-v10-latin-ext_latin-500.svg#Teko') format('svg'); /* Legacy iOS */
}
/* teko-regular - latin-ext_latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: url('teko/teko-v10-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Teko Regular'), local('Teko-Regular'),
       url('teko/teko-v10-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('teko/teko-v10-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('teko/teko-v10-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('teko/teko-v10-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('teko/teko-v10-latin-ext_latin-regular.svg#Teko') format('svg'); /* Legacy iOS */
}
/* teko-600 - latin-ext_latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 600;
  src: url('teko/teko-v10-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Teko SemiBold'), local('Teko-SemiBold'),
       url('teko/teko-v10-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('teko/teko-v10-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('teko/teko-v10-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('teko/teko-v10-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('teko/teko-v10-latin-ext_latin-600.svg#Teko') format('svg'); /* Legacy iOS */
}
/* teko-700 - latin-ext_latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  src: url('teko/teko-v10-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Teko Bold'), local('Teko-Bold'),
       url('teko/teko-v10-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('teko/teko-v10-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('teko/teko-v10-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('teko/teko-v10-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('teko/teko-v10-latin-ext_latin-700.svg#Teko') format('svg'); /* Legacy iOS */
}