[class^="bgi"], [class*=" bgi"] {
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgi1 { background-image: url('img/045d8825-ef2e-4390-95a8-e1c9d6f610f2.jpg'); }
.bgi2 { background-image: url('img/0b61fbe2-34bd-43df-b9e6-4a15702639e2.jpg'); }
.bgi3 { background-image: url('img/12e1840d-e603-47cb-932e-108bd59d2e19.jpg'); }
.bgi4 { background-image: url('img/1f31e4f0-0a02-4429-bd40-ca1a72ca1fc0.jpg'); }
.bgi5 { background-image: url('img/1f70d43f-7811-4ee2-9889-f73a6367dc54.jpg'); }
.bgi6 { background-image: url('img/236e3877-ce0a-43ee-87ea-77bf04d4f14f.jpg'); }
.bgi7 { background-image: url('img/2bda308c-5e7c-4134-b42d-a15b37fe9eaa.jpg'); }
.bgi8 { background-image: url('img/2dc73769-623b-429c-8e87-cb8380121733.jpg'); }
.bgi9 { background-image: url('img/2eea688a-3e11-4eb6-b54b-420ea126df1d.jpg'); }
.bgi10 { background-image: url('img/2eef73a8-5c4a-4be2-8c56-d4cb02c4f0ba.jpg'); }
.bgi11 { background-image: url('img/35895a21-1c40-447e-ac57-eb0339492509.jpg'); }
.bgi12 { background-image: url('img/4ea11684-cbc2-4cc6-bbb1-caee397263c5.jpg'); }
.bgi13 { background-image: url('img/4eb4c6db-eb51-418f-8bfb-24f85e700412.jpg'); }
.bgi14 { background-image: url('img/52dbd0fb-3b81-48de-aa6e-480b39fc3679.jpg'); }
.bgi15 { background-image: url('img/55c370a5-5862-4d4c-a9cb-0296aa175f20.jpg'); }
.bgi16 { background-image: url('img/612144e1-5a26-4872-b392-9d1e119ce00d.jpg'); }
.bgi17 { background-image: url('img/754356ce-63ea-4284-b9d0-1fd75846fbd0.jpg'); }
.bgi18 { background-image: url('img/77414132-253a-493d-b84e-a40213f44485.jpg'); }
.bgi19 { background-image: url('img/7949550b-0f85-4c91-8db3-2c39866959e7.jpg'); }
.bgi20 { background-image: url('img/813848b7-89f9-49e0-a318-7bc32df74e38.jpg'); }
.bgi21 { background-image: url('img/84c69014-2cb1-4773-86bb-2d6b383ef587.jpg'); }
.bgi22 { background-image: url('img/8f2fe95d-109a-4096-b363-aaa0e5ab1d83.jpg'); }
.bgi23 { background-image: url('img/8f4acc55-f213-4816-8355-fc5f471ea6d1.jpg'); }
.bgi24 { background-image: url('img/9856e1a8-cb5f-4b30-a090-706a6fa18f7f.jpg'); }
.bgi25 { background-image: url('img/a5066b71-c1cc-4326-9c8e-b59c55a34108.jpg'); }
.bgi26 { background-image: url('img/a577c870-a754-4bcd-9147-aff1022cde65.jpg'); }
.bgi27 { background-image: url('img/a700ae85-e5b0-4afe-a244-adec783df9d4.jpg'); }
.bgi28 { background-image: url('img/aa95d148-f9ef-4f29-9e46-68f09dd619ca.jpg'); }
.bgi29 { background-image: url('img/b12ecf30-10f2-4d97-a24f-b7d5846f289b.jpg'); }
.bgi30 { background-image: url('img/b421b5d4-a7b4-4299-a618-5a465f9cff17.jpg'); }
.bgi31 { background-image: url('img/baa4fd9f-057b-46c9-b9ed-403d8125d0c7.jpg'); }
.bgi32 { background-image: url('img/bca4d3ca-e47c-4085-944f-76abf9023221.jpg'); }
.bgi33 { background-image: url('img/c21af685-398d-4900-8551-9fb6e4e9dec3.jpg'); }
.bgi34 { background-image: url('img/d2936f71-74a9-4ccc-b82d-f391e299b3a4.jpg'); }
.bgi35 { background-image: url('img/d571b532-9aae-4d94-ace8-cedd485f6150.jpg'); }
.bgi36 { background-image: url('img/dc654505-26bf-48c0-90b6-ae753471720b.jpg'); }
.bgi37 { background-image: url('img/ddf65196-4bfe-4cd4-8ec1-ca702832b1c3.jpg'); }
.bgi38 { background-image: url('img/e44fd15a-93dd-4022-87be-79f333d70038.jpg'); }
.bgi39 { background-image: url('img/e4958a41-4837-452d-beaa-441a452fb532.jpg'); }
.bgi40 { background-image: url('img/e9de29b0-bea4-4685-9f72-8b17c230a90e.jpg'); }
.bgi41 { background-image: url('img/f11bc230-a8d2-453e-a023-9e1f3f81b989.jpg'); }
.bgi42 { background-image: url('img/f9e15cc0-a36e-43c9-86ad-a308701ec6fe.jpg'); }
